/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter&display=swap'); */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

a {
    all: unset;
}

body {
    font-size: 22px; 
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Inter', sans-serif;
    transition: opacity 0.4s;
}

body.fade {        
    /* opacity: 0; */
    animation: fade-out-delay 4s ease-in-out;
}

@keyframes fade-out-delay {
    0% { opacity: 1; }
    5% { opacity: 0; }
    100% { opacity: 0; }    
}

/* Page fade in effect on load */
main {
    min-height: 100vh;
    animation: fade-in 0.5s ease-in-out;
    animation-fill-mode: forwards;
    transition: opacity 0.4s;
}
@keyframes fade-in {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


section { 
    position: relative;
    /* height: 100vh; */
    height: 100%;
    
    color: white;     
    /* font-size: 3em;   */
    
    overflow-x: hidden;    
}

main {
    background-color: #e2e2e2;
}
section.work {

    background: linear-gradient(rgba(228, 228, 228, 0.95), rgba(228, 228, 228, 0.90)), url(../img/projects/topo-map1.jpg);
    /* background-size: cover; */

    opacity: 0;
}

section.work .slideshow-container {

    /* height: 100vh;   */
    height: 100%;  
    background: linear-gradient(
        var(--slider-image-overlay),
        var(--slider-image-overlay)),
        url('../img/hero/kayak-scene.webp');
        /* url('../img/timeline/snow_up_bw_white.png'); */
    background-size: cover;  
    background-position: 25%;  
        
    transition: opacity 2s;

    /* background: white; */
    /* border-bottom: 20px solid white;     */

    width: 80%;    
    margin: 80px auto;
    /* margin-bottom: 80px; */
    /* padding-top: 80px; */

    box-shadow: 0 0 4px #444;
    box-shadow: 0 0 28px #999, 1px 2px 3px #444;
}



section.center {
    display: grid;     
    place-content: center;     
}

.modal {
    opacity: 0;
    display:block;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);    
    transition: opacity 1.5s;
    /* filter: blur(2px); */
}
.modal.show {
    display: block;    
    opacity: 1;    
}
.modal.on-top {
    z-index: 10;
}

.right-edge {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* PADDING */
.p10 {
    padding: 10px;
}
.p20 {
    padding: 20px;
}
.p10-20 {
    padding: 10px 20px;
}

/* BACKGROUND */
.bg1 { background-color: var(--primary-1); }
.bg2 { background-color: var(--primary-5); }
.bg3 { background-color: var(--primary-6); }
.bg4 { background-color: var(--primary-7); }
.bg9 { background-color: var(--primary-9); }
.bg10 {background-color: var(--primary-10);}

/* TEST-SHADOW */
.ts1 { text-shadow: 0 0 1px #444; }


/* FLEX */

.flex-row-apart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}