

.horizontalSlider {
    /* display: flex;     */
    position: relative;
    width: 100%;
    height: 60%;
    min-height: 500px;
}

.left-grab-panel {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 80px;
    background-color: rgba(255,0,0,0.0);
    height: 100%;
}
.right-grab-panel {
    position: absolute;
    z-index: 10;
    top: 0px;
    right: 0px;
    width: 80px;
    background-color: rgba(255,0,0,0.0);
    height: 100%;
}

.slide-viewer {
    overflow: hidden;
    margin:0 auto;
    position: relative;
    width: 100%;
    height: 100%;    
    /* background-color: hsla(206, 49%, 48%, 0.8);      */
    z-index: 1;    
}

.slide-group {   
    position: relative; 
    top: 0;
    left: 0;
    height: 100%;
    /* width: 100%; */
    /* width: 10000px; */  
    /* overflow-x: scroll; */
    
    display: grid;
    /* gap: 40px; */
    grid-auto-flow: column;
    grid-auto-columns: 100%;
}

.slide-group.animating {
    transition: left 0.2s ease-out;
  }

.slide {
    /* border: 1px solid red;    */
    /* background-color: rgba(255,255,255,0.1); */
    cursor: pointer;
    
    transition: all 1s;
    position: relative;

    inline-size: 80%;
    block-size: 90%;    
    /* touch-action: none; */
    touch-action: pan-y;

    /* margin: 10px 100px; */
    margin: 5% 10%;

    /* Experimentation */
    margin: 2% 10% 6% 10%;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 6px #444;
}


.slide.hide-content > div {
    opacity: 0.25;    
    transform: translateY(5px);    
    /* transform: translateX(20px);     */
    /* transform: scale(0.59); */
    /* transform: scale(1.05);     */
}

.slide div {
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


